<div class="col-md-12 six-banner-area ">                          
  <div class="center  six-banner-label-area">
		<div class="col-sm-3 col-md-3  footer-cover">						
			<a class="navbar-brand footer-site-logo hidden-sm" href="#"><span class="glyphicon glyphicon-repeat icon-large red"></span> IONICSIGHT</a>
			<p class="hidden-sm">&nbsp;</p>
			<p class="hidden-sm">&nbsp;</p>
			<span class="social-icon"><a href="#"><span class="glyphicon glyphicon glyphicon-tree-deciduous icon-large gray"></a></span>
			<span class="social-icon"><a href="#"><span class="glyphicon glyphicon glyphicon-queen icon-large gray"></a></span>
			<span class="social-icon"><a href="#"><span class="glyphicon glyphicon glyphicon-grain icon-large gray"></a></span>
			<span class="social-icon"><a href="#"><span class="glyphicon glyphicon glyphicon-apple icon-large gray"></a></span>
		</div>
		<div class="col-sm-3 col-md-3  footer-cover">
			<h6>SOLUTIONS</h6>
			<ul>
				<li>Individuals</li>
				<li>Business</li>
				<li>Government</li>
				<li>Academic</li>
				<li>Free trial</li>
			</ul>
		</div>
		<div class="col-sm-3 col-md-3 footer-cover">						
			<h6>Reports Area</h6>
			<ul>
				<li>Data professional</li>
				<li>Architecture</li>
				<li>Software development</li>
				<li>Creative professional</li>
				<li>ITc</li>
			</ul>
		</div>
		<div class="col-md-3  footer-cover">						
			<h6>SUPPORT</h6>
			<ul>
				<li>Help center</li>
				<li>Contact</li>
				<li>Blog</li>
				<li>Careers</li>
				<li>Knowledge base</li>
			</ul>
		</div>	
	</div>              
</div>
<div class="col-md-12 six-banner-area ">		  
	<div class="center  six-banner-label-area">
		<span class="footer-link pull-left">Copy Right @ IONICSIGHT </span> 
		<span class="footer-link"><a href="" class="gray">Home</a></span>
		<span class="footer-link"><a href="" class="gray">About us</a></span>					
		<span class="footer-link"><a href="" class="gray">Contact us</a></span>
	</div>
</div>		  