	<div class="first-banner-area ">    			
	  <img src="images/happy-young-man-wearing-glasses.jpg" class="img-responsive" alt="Generic placeholder ">					
	</div>
  <div class="clearfix screen-height"></div>
  <div class="first-banner-label-area ">
	<div class="col-xs-12 col-sm-4 col-md-4 center dotcome-label-1">
		<a class="btn btn-danger btn-xs-fill btn-lg-fill"><span class="glyphicon glyphicon-education icon-large"></span> Report Library</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 center dotcome-label-1">
		<a class="btn btn-danger btn-xs-fill btn-lg-fill"><span class="glyphicon glyphicon-pawn icon-large"></span> Team</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 center dotcome-label-1">
		<a class="btn btn-danger btn-xs-fill btn-lg-fill"><span class="glyphicon glyphicon-wrench icon-large"></span> Techies</a>
	</div>		  
  </div>
  <div class="second-banner-area ">               
	  <div class="center placeholder second-banner-label-area">
		<h4 class="h4-label gray">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4> 
		<a href="#" class="btn btn-default btn-xs-fill btn-md-get-report">Get Report TOC Free </a>
	  </div>
  </div>
  <div class="col-md-12 third-banner-area">                          
	  <div class="center  third-banner-label-area">
		<h4 class="h4-label gray">Eroident, sunt in culpa qui ofim id est laborum.</h4> 
		
		<div class="col-md-4  subsciption-type">
			<h4>Free</h4>
			<ul>
				<li>Sed ut perspiciatis</li>
				<li>Nemo enim ipsam voluptatem</li>
				<li>I will give you a complete </li>
				<li>who avoids a pain that produces</li>					
			</ul>
			<a href="#" class="btn btn-lg btn-danger ">Get Free </a>
		</div>
		<div class="col-md-4 subsciption-type">
			<h4>Gold</h4>
			<ul>
				<li>But I must explain to you</li>
				<li>"Sed ut perspiciatis</li>
				<li>who avoids a pain that produces</li>
				<li>I will give you a complete </li>					
			</ul>
			<a href="#" class="btn btn-lg btn-danger ">Sign up now</a>
		</div>
		<div class="col-md-4 subsciption-type">
			<h4>Platinum</h4>
			<ul>
				<li>I will give you a complete </li>
				<li>Nemo enim ipsam voluptatem</li>
				<li>"Sed ut perspiciatis</li>
				<li>But I must explain to you</li>					
			</ul>
			<a href="#" class="btn btn-lg btn-danger ">Sign up now</a>
		</div>
		
		
	  </div>            
  </div>
  <div class="col-md-12 four-banner-area">            
	  <div class="center  four-banner-label-area">
		<h4 class="h4-label gray">Area We Cover</h4>
		<div class="col-md-12">
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/teenage-girls-doing.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Education</span>
			</div>
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/solar-panels-and-wind-turbine.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Energy</span>
			</div>
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/jet-turbine-airplane-engine.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Aronotics</span>
			</div>
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/warehouse.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Logistice</span>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/hands-and-food-.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Logistice</span>
			</div>
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/multiplex-movie.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Entertenment</span>
			</div>
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/auto-repair.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Automotive</span>
			</div>
			<div class="col-sm-6 col-md-3  area-cover-iteam">
				<img src="images/vitamins.jpg" class="img-responsive" alt="Generic placeholder ">
				<span class="area-cover-iteam-label">Healthcare</span>
			</div>
		</div>
	  </div>           
  </div>
  <div class="five-banner-area">            
	  <img src="images/hand-holding-pen.jpg" class="img-responsive img-subscribme" alt="Generic placeholder ">
	  <div class="center  five-banner-label-area">
		<h4 class="h4-label white">Improve Your Business in right way. We are here for you. Get upcoming report info.</h4>
		<a href="#" class="btn btn-lg btn-warning ">Subscribe Me for reports</a>          
	  </div>
	  
  </div>