    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
		<form class="" action="">		
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Sign in</h4>
			</div>
			<div class="modal-body">
			  <input type="text" class="btn-block searchbox" placeholder="Username/Email Id"/>
			  <input type="text" class="btn-block searchbox" placeholder="Password"/>
			</div>
			<div class="modal-footer">
			  <a href="#" class="pull-left">Forgot password?</a>
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Sign in</button>
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</form>
      </div>
      
    </div>